.education{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.education li{
    margin-left: 1rem;
    margin-bottom: .5rem;
}
.education li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
}
